@charset "UTF-8";

/* 全体に適用される設定 */

html {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /* color: black; */
    text-align: center;
    font-size: 1.4rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    padding-top: 100px;
}

ul {
    list-style-type: none;
}

/* header */


.yuuki {
    height: 100px;
    font-size: 20px;
    /* width: 1000px; */
    /* background-color: #000; */
    border-bottom: #47B39D 5px solid;
}

.yuuki li {
    /* padding: 0 21px; */
    margin: 20px;
    /* color: red; */
    word-break: keep-all;
}


section {
    background-color: yellow;
    height: 1000px;
}

.navbar-dark .navbar-toggler {
    border-color: white;
    font-size: 20px;
    padding: 5px 10px;
    opacity: 0.7;
    position: fixed;
    /* align-items: center; */
    left: 10px;
}

.sankaku {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  margin: 0 auto;
  border-color: rgb(249, 156, 71)transparent;
  /* background-color: #eaf3ff; */
}


/* ナビゲーションバー2段目 */

header {
  background-color: #eaf3ff;
  width: 100%;
}

.gnavi {
  height: 80px;
  box-shadow: 0 3px 6px -3px #000000 inset;
  font-size: 1.2rem;
  font-weight: bold;
  max-width: 100%;
}
.gnavi__inner {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}
.gnavi ul {
  height: 100%;
  display: flex;
  margin: 0 -20px;
}
.gnavi li {
  flex: 1 1;
  position: relative;
  display: flex;
}
.gnavi li::after {
  content: "";
  display: block;
  width: 2px;
  height: 20px;
  background-color: #b8b9dc;
  position: absolute;
  right: -1px;
  top: calc((100% - 20px)/2);
}
.gnavi li:last-child::after {
  content: none;
}
.gnavi a {
  display: flex;
  flex: 1 1;
  justify-content: center;
  padding: 0 20px;
}
.gnavi a:hover span {
  color: #ff7600;
  position: relative;
}
.gnavi a:hover span::after {
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  width: 100%;
  bottom: 0;
  background-color: #ff7600;
  border-radius: 5px;
}
.gnavi span {
  display: flex;
  align-items: center;
  word-break: keep-all;
}

a {
  color: inherit;
  text-decoration: none;
}